.square {
  height: 100%;
  width: 100%;
  /* margin: 0 auto; */
}

.border_rect {
  /* stroke: black; */
  opacity: 0.3;
  stroke-width: 1px;
  fill: none;
}

.border_rect_red {
  stroke: red;
  opacity: 0.3;
  stroke-width: 1px;
  fill: none;
}

.axes {
}

.x_axis {
}

.y_axis {
}

.marks {
}

.brush {
}

.core_brush {
}

.circular_mark {
}

.regular_circular_mark {
  fill: #648fff;
  opacity: 0.3;
}

.selected_circular_mark {
  fill: #dc267f !important;
  opacity: 0.5;
}

.union_circular_mark {
  fill: #ffb000 !important;
  opacity: 0.5;
}

.circular_mark_debug {
  stroke: black;
  stroke-width: 3px;
}

.circular_selection_debug {
  fill: green;
  stroke: darkgreen;
  opacity: 1;
  stroke-width: 1.5px;
}
