[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
pytest = "*"
typing = "*"
autopep8 = "*"

[packages]
pandas = "*"
flask = "*"
numpy = "*"
sklearn = "*"
more-itertools = "*"

[requires]
python_version = "3.7"
