* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tone_down_others {
  opacity: 0.05 !important;
}

.selection_highlight {
  stroke: black;
  opacity: 1;
  stroke-width: 4px;
  stroke-opacity: 1;
}

.suggestion_highlight {
  fill: red !important;
  stroke: none !important;
  opacity: 1 !important;
}

.regression-line {
  stroke: red;
  color: red;
  stroke-width: 2px;
  fill: none;
}

.containment_highlight {
  fill: #84dd63 !important;
  opacity: 1 !important;
}

.containtment_hover_cell {
  background: auto;
}

.containtment_hover_cell:hover {
  background: #84dd63 !important;
}
