* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tone_down_others {
  opacity: 0.05 !important;
}

.selection_highlight {
  fill: red !important;
}

.suggestion_highlight {
  fill: red !important;
  stroke: none !important;
  opacity: 1 !important;
}
